/*CSS for memeory card game*/
*{
  box-sizing: border-box;
}

body {
  background-color: #C6CAED;
}

#table {
  background-color: #FBE0B1;
  width: 85vw;
  height: 90vh;
  positon: relative;
  margin: 5vh auto;
 /* border: thin solid #190B28; */
  box-shadow: 10px 7px #190B28;
}
.card{
  background-color: grey; 
  width:15vw;
  height:20vw;
  float: left;
  border: 2px solid #190B28;
  box-shadow: 3px 3px #190B28;
  margin: 1vw;
}

.cardFront{
  
}

.cardBack {
  
}